<!DOCTYPE html>
<html>
    <head>
        <title>w3. 01. TODO1</title>
        <style>
            p, input { font-family: monospace; }
            p { white-space: pre; }
        </style>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
    </head>
    <body>
        <h2>w3 01 TODO1</h2>
        <br/>
        <div id="calk">
            <p><input v-model="x"> first number</p>
            <p><input v-model="y"> second number</p>
            <p>---------------------</p>
            <button v-on:click="result1" type="button">new divide button</button>
            <button v-on:click="result2" type="button">new divide button</button>

            <!-- EN NYT SAANUT NAPPIA TOIMIMAAN 3tunnin googlettamisen kanssa, muuten Vue:n logiikka on ymmärretty. Olisipa saanut tähän toimivaa esimerkkiä, niin olisi jotain mihin verrata. 
            ENS SAA TOIMIMAAN NAPIN PAINALLUKSEN KAUTTA.-->
            
            <p> ... </p>
            <p>= <span v-text="result"></span></p>
        </div>

        <script type="text/javascript">
            function isNotNumericValue(value) {
                console.log("testi NaN");
                return isNaN(value) || !isFinite(value);
            }
            
            //Here i chech if input is valid
            /* function checkInp()
            {
                var x=document.getElementById("firstNumber").value;
                var regex=/^[0a-zA-Z]+$/;
                if (x.match(regex)) {
                    alert("input must be numbers and bigger than 0");
                    return false;
                }
                if (x < 1) {
                    alert("input number should be bigger that 0");
                    return false;
                }
                var x=document.getElementById("secondNumber").value;
                var regex=/^[a-zA-Z]+$/;
                if (x.match(regex)) {
                    alert("input must be numbers and bigger than 0");
                    return false;
                }
                if (x < 1) {
                    alert("input number should be bigger that 0");
                    return false; 
                }
            } */
            
            //OLD CODE!!!!! ^
            
            //calculation
            function multiplyBy(){

	           document.getElementById("result").innerHTML =
	           document.getElementById("firstNumber").value * document.getElementById("secondNumber").value;
            }
            function divideBy(){

	           document.getElementById("result").innerHTML =
	           document.getElementById("firstNumber").value / document.getElementById("secondNumber").value;
            }
            
            
            
            // function kerto() {
                var multiply = new Vue({
                    el: '#calk',
                    data: { x: 0, y: 0, lastResult: 0 },
                    computed: {
                        result1: function() {
                            console.log("testi multiply");
                            let x = parseFloat(this.x);
                            if(isNotNumericValue(x))
                                return this.lastResult;

                            let y = parseFloat(this.y);
                            if(isNotNumericValue(y))
                                return this.lastResult;
                            if ()  {
                            this.lastResult = x * y;
                            return this.lastResult;    
                            }
                        }
                    }
                });
           // console.log(result);

            //document.getElementById("resultmsg1").addEventListener("click", jako);
            //function jako() {            
     /*           var divide = new Vue({
                    el: '#calk',
                    data: { x: 0, y: 0, lastResult: 0 },
                    computed: {
                        result2: function() {
                            console.log("testi divide");
                            let x = parseFloat(this.x);
                            if(isNotNumericValue(x))
                                return this.lastResult;

                            let y = parseFloat(this.y);
                            if(isNotNumericValue(y))
                                return this.lastResult;

                            this.lastResult = x / y;
                            return this.lastResult;    
                        }
                    }
                }); */
       
        </script>
    </body>
</html>