<!DOCTYPE html>
<html>
    <head>
        <title>A Vue.js Calculator</title>
        <style>
            p, input { font-family: monospace; }
            p { white-space: pre; }
        </style>
    </head>
    <body>
        <div id="app">
            <p>x <input v-model="x"></p>
            <p>y <input v-model="y"></p>
            <p>---------------------</p>
            <p>= <span v-text="result"></span></p>
            <!--  <p>storagesta saatu arvo: <span v-text="number"></span></p>  -->
            <button v-on:click="multiply">new Multiply button</button>
            <p>multiply answer: = <span v-text="lastmultiply"></span></p>
        </div>

        <!--  I HAD HUGE PROBLEMS TO GET SIMPLE BUMMON TO WORK!  -->

        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script type="text/javascript">
            function isNotNumericValue(value) {
                return isNaN(value) || !isFinite(value);
            }
            var calc = new Vue({
                el: '#app',
                data: { x: 0, y: 0, lastResult: 0, lastmultiply: 0},
                computed: {
                    result: function() {
                        let x = parseFloat(this.x);
                        if(isNotNumericValue(x))
                            return this.lastResult;

                        let y = parseFloat(this.y);
                        if(isNotNumericValue(y))
                            return this.lastResult;

                        this.lastResult = x + y;
                        return this.lastResult;

                        // Tällä laskettu arvo tallennetaan storageen
                        const calculations = this.lastResult;

                        localStorage.setItem('number', JSON.stringify(calculations));
                        // Tällä arvo saadaa storagesta
                        localStorage.getItem('number');
                        JSON.parse(window.localStorage.getItem('number'));
                        console.log("number");
                    }
                },
                methods: {
                    multiply: function() {
                        console.log("testi multiply-functio");

                        this.lastmultiply = this.x * this.y;

                        // Tällä laskettu arvo tallennetaan storageen
                        const calculations = this.lastResult;
                        localStorage.setItem('number', JSON.stringify(calculations));
                        return this.lastmultiply;
                    }
                }
            });
            function checkInp()
            {
                var x=document.getElementById("x").value;
                var regex=/^[0a-zA-Z]+$/;
                if (x.match(regex)) {
                    alert("input must be numbers and bigger than 0");
                    return false;
                }
                if (x < 1) {
                    alert("input number should be bigger that 0");
                    return false;
                }
                var x=document.getElementById("y").value;
                var regex=/^[a-zA-Z]+$/;
                if (x.match(regex)) {
                    alert("input must be numbers and bigger than 0");
                    return false;
                }
                if (x < 1) {
                    alert("input number should be bigger that 0");
                    return false; 
                }
            } 
            function multiplyBy(){

                document.getElementById("result").innerHTML =
                    document.getElementById("x").value * document.getElementById("y").value;
            }
            function divideBy(){

                document.getElementById("result").innerHTML =
                    document.getElementById("x").value / document.getElementById("y").value;
            }
        </script>
    </body>
</html>
