<html>
<head>
  <title>w3 02 TODO1-2</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<div id="app">
  <header>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <h1>{{ sitename }}</h1>
      </div>
      <div class="nav navbar-nav navbar-right cart">
        <form>
          <button type="submit" class="btn btn-default btn-lg" v-on:click="showCheckout">
            <span>{{ cartItemCount}}</span><span class="glyphicon glyphicon-shopping-cart"></span> Checkout
          </button>
        </form>
      </div>
    </div>
  </header>
  <main>
    <div v-if="showProduct == false">
      <!-- Cat food -->
      <div v-show="showProduct == false">
        <div class="col-md-2 col-md-offset-1">
          <figure>
            <img v-bind:src="product.image">
          </figure>
        </div>
        <div class="col-md-6 col-md-offset-2 description">
          <h1 v-text="product.title"></h1>
          <p v-html="product.description"></p>
          <p class="price">
            {{product.price | formatPrice}}
          </p>
          <button :disabled='isDisabled1' class="default" v-on:click="product.prod1 -= 1; addToCart()" >Add to cart</button><br>
          <p>available in inventory: {{ product.prod1 }} pcs   </p>
          
        </div>
      </div>
      <div v-else>
        
      </div>  
      <!-- Catnip -->
      <div v-if="terms2">
        <div class="col-md-2 col-md-offset-1">
          <figure>
            <img v-bind:src="product2.image">
          </figure>
        </div>
        <div class="col-md-6 col-md-offset-2 description">
          <h1 v-text="product2.title"></h1>
          <p v-html="product2.description"></p>
          <p class="pricenip">
            {{product2.price | formatPrice}}
          </p>
          <button :disabled='isDisabled2' class="default" v-on:click="product2.prod2 -= 1; addToCart2()" >Add to cart</button><br>
          <p>available in inventory: {{ product2.prod2 }} pcs   </p>
          
        </div>
      </div>
      <div v-else>
        
      </div>
      <!-- Cat Toy -->
      <div v-if="terms3">
        <div class="col-md-2 col-md-offset-1">
          <figure>
            <img v-bind:src="product3.image">
          </figure>
        </div>
        <div class="col-md-6 col-md-offset-2 description">
          <h1 v-text="product3.title"></h1>
          <p v-html="product3.description"></p>
          <p class="pricetoy">
            {{product3.price | formatPrice}}
          </p>
          <button :disabled='isDisabled3' class="default" v-on:click="product3.prod3 -= 1; addToCart3()" >Add to cart</button><br>
          <p>available in inventory: {{ product3.prod3 }} pcs   </p>
          
        </div>
      </div>
      <div v-else>
        
      </div>
    </div><!--end of row-->
  <div v-else>

  </div>
    


    
  </main><!--end of main-->
  
</div>
<script type="text/javascript">
  var APP_LOG_LIFECYCLE_EVENTS = true;
  var webstore = new Vue({
    el: '#app',
    data: {
      terms: true,
      terms2: true,
      terms3: true,
      sitename: "W3 02 TODO1-2",
      showProduct: false,
      order: {
        firstName: '',
        lastName: ''
      },
      product: {      // CatFood
        id: 1001,
        title: "Cat Food, 25lb bag",
        description: "A 25 pound bag of <em>irresistible</em>, organic goodness for your cat.",
        price: 2000,
        image: "assets/images/product-fullsize.png",
        prod1: 5,
      },          
      product2: {     // Catnip
        id: 1002,
        title: "Catnip, 10lb bag",
        description: "A 10 pound bag of greatest catnip from warmest part's of the country, just for your ow little kittens.",
        price: 1500,
        image: "assets/images/catnip.png",
        prod2: 10,
      },
      product3: {     // Toy
        id: 1003,
        title: "rope-mouse toy",
        description: "Lovely mousetoy for your cat, made from ropes and feathers.",
        price: 500,
        image: "assets/images/toy.png",
        prod3: 17,
      },
      cart: []
    },
    methods: {
      addToCart: function() {
        this.cart.push( this.product.id );
        console.log("push to cast test product1"); 
      },
      addToCart2: function() {
        this.cart.push( this.product2.id ); 
      },
      addToCart3: function() {
        this.cart.push( this.product3.id ); 
      },
      showCheckout() {
        this.showProduct = this.showProduct ? false: true;
        return this.showProduct;
      },
      countarray: function(count) {
        var  count = {};
        this.cart.forEach(function(i) { count[i] = (count[i]||0) + 1;});
        console.log(count);
      }
      
      /*  Button1: function() {
        var Prod1 = JSON.parse(window.localStorage.getItem('prod1'));
        // tallennetaan storageen
        const buttons = Prod1 + 1;
        localStorage.setItem('prod1', JSON.stringify(buttons));
        return this.buttons;
      }, */
      
    },
    // cartin toiminto, ettei sinne voi laittaa enempää, kuin mitä invetoryssä on tarjolla
    computed: {      
      cartItemCount() {
        return this.cart.length || '';
      },
      canAddToCart() {
        if(this.product.prod1 > 0) {
          return this.product.prod1 > 0;    // CatFood 
          return this.product2.prod2 > 0;  // Catnip
          return this.product3.prod3 > 0  // Toy
        }  
      },
      isDisabled1() {
        if(this.product.prod1 ==  0) {
          return this.terms;
        }  
      },  
      isDisabled2() {  
        if(this.product2.prod2 ==  0) {
          return this.terms2;
        }  
      },
      isDisabled3() {  
        if(this.product3.prod3 ==  0) {
          return this.terms3;
        }  
      },
    },

    // inventory arvojen päivitys
    watch: {
      prod1: function(newVal, oldVal) {                
          console.log('The old value of length was: '     
                      + oldVal +                          
                      '\nThe new value of length is: '    
                      + newVal);                          
      },
      prod2: function(newVal, oldVal) {                 
        console.log('The old value of width was: '      
                      + oldVal +                          
                      '\nThe new value of width is: '     
                      + newVal);
                      console.log(prod2);                          
      },
      prod3: function(newVal, oldVal) {                  
        console.log('The old value of area was: '       
                      + oldVal +                          
                      '\nThe new value of area is: '      
                      + newVal);                          
      }
    },
    beforeUpdate: function() {                             
      console.log('All those data changes happened '       
                    + 'before the output gets updated.');    
    },
    

    // hintaasrvo
    filters: {
      formatPrice(price) {	
        if (!parseInt(price)) { return ""; }	
        if (price > 99999) {	
          var priceString = (price / 100).toFixed(2);	
          var priceArray = priceString.split("").reverse();	
          var index = 3;	
          while (priceArray.length > index + 3) {	
            priceArray.splice(index+3, 0, ",");	
            index += 4;	
          }	
          return "$" + priceArray.reverse().join("");	
        } else {
          return "$" + (price / 100).toFixed(2);	
        }
      }
      
    },
    beforeCreate: function() {	
      if (APP_LOG_LIFECYCLE_EVENTS) {	
        console.log("beforeCreate");	
      }	
    },	
    created: function() {	
      if (APP_LOG_LIFECYCLE_EVENTS) {	
        console.log("created");	
      }	
    },	
    beforeMount: function() {	
      if (APP_LOG_LIFECYCLE_EVENTS) {	
        console.log(" beforeMount");	
      }	
    },	
    mounted:  function() {	
      if (APP_LOG_LIFECYCLE_EVENTS) {	
        console.log(" mounted"); 	
      } 	
    },	
    beforeUpdate:  function() { 	
      if (APP_LOG_LIFECYCLE_EVENTS) { 	
        console.log("beforeUpdate"); 	
      } 	
    },	
    updated:  function() { 	
      if (APP_LOG_LIFECYCLE_EVENTS) { 	
        console.log("updated"); 	
      } 	
    },	
    beforeDestroyed:  function() { 	
      if (APP_LOG_LIFECYCLE_EVENTS) { 	
        console.log("beforeDestroyed "); 	
      } 	
    },	
    destroyed:  function() { 	
      if (APP_LOG_LIFECYCLE_EVENTS) { 
        console.log("destroyed");
      } 	//#I
    }	//#I
  });
  
</script>
</body>
</html>
